.container {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .formRow {
        display: flex;
        gap: 24px;
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
    .dateInput {
        flex: 1;
        display: flex;
        align-items: center;
        gap: .5rem;

        label {
            font-weight: 600;
        } 

    }
}