.section {
  margin-top: 24px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--black-200);
}

.row {
  // padding: 0.6rem;
  // border-radius: 6px;
  margin-bottom: 1rem;
}
.grid {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;

  div {
    flex: 1;
    min-width: 140px;
  }
}
.label {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--black-300);
}

.value {
  border: 1px solid var(--black-100);
  padding: 16px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
}

.locationRow {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
  div {
    flex: 1;
    min-width: 140px;
  }
}
.dateRow {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.dateBox {
  flex: 1;

  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 120px;

  .label {
    font-size: 20px;
    font-weight: 600;
  }
}
.boxVal {
    width: 100%;
  border: 1px solid var(--black-100);
  padding: 16px;
  border-radius: 8px;
  font-weight: 600;
}
.desc {

  margin-top: 16px;

  .label {
    font-size: 20px;
    font-weight: 600;
    color: var(--black-300);
  }
  .descBox {
    border: 1px solid var(--black-100);
    padding:12px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
  }
}
.details {
  margin-top: 0.4rem;
  color: #444;
}
