:root {
  --primary-900: #073433;
  --primary-500: #117c79;
  --primary-50: #e7f2f2;
  --white-600: #e8e8e8;
  --secondary-500: #95c63e;
  --success-500: #43C63E;

  /* black */
  --black-50: #e6e6e6;
  --black-100: #b0b0b0;
  --black-200: #8a8a8a;
  --black-300: #545454;

  --red-500: #C63E3E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.padding {
  padding: 0 8rem;

  @media (max-width: 1300px) {
    padding: 0 3rem;
  }
  @media (max-width: 700px) {
    padding: 0 1.5rem;
  }
}

textarea {
  height: 300px;
  outline: none;
  width: 100%;
  border: 1px solid #b0b0b0;
  border-radius: 16px;
  padding: 12px 40px;
  font-size: 14px;
  resize: none;

  &::placeholder {
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 600;
  }
}

.header {
  width: 100%;
  padding-block: 20px;
  background-color: var(--primary-500);

  h2 {
    font-size: 48px;
    font-weight: 800;
    color: white;

    @media (max-width: 700px) {
      font-size: 28px;
    }
  }
}


