.jobsList {
    margin-top: 18px;
    gap: 16px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @media (max-width: 1500px) {
      grid-template-columns: 1fr;
    }
  }